
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Roboto:ital@0;1&display=swap');

*{
  box-sizing: border-box;

}
body{
  font-family: "Roboto",sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height:100vh;
  /* display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh; */
  background-color: rgb(44, 117, 2);
}
.container{
    text-align: center;
}
.progress-container{
    display: flex;
    justify-content: space-between;
  
    margin-bottom: 20px;
    position: relative;
    max-width: 100%;
    width: 350px;
}.progress-container::before{
    content: " ";
    background-color: rgb(231, 255, 255);
    position: absolute;
    top: 50%;
    left:0;
    height: 4px;
    width: 100%;
    transform: translateY(-50%);
    z-index: -1;
} 
.progress{
    background-color: aqua;
    position: absolute;
    top: 50%;
    left:0;
    height: 4px;
    width: 0%;
    transform: translateY(-50%);
transition: 0.4s ease;
    z-index: -1;
  
} 
.circle{
    background-color: antiquewhite;
    color: #000;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
border: 2.5px solid cadetblue;  
transition: 0.4s ease;   
}
.circle.active{
    border-color: rgb(2, 137, 255);

}
.btn{
background-color: antiquewhite;
color:rgb(58, 9, 9);
border-radius: 3px;
cursor: pointer;
}
.btn:active{
    transform: scale(0.98);  
}
.btn:focus{
    outline: 0;
}
.btn:disabled{
background-color: aliceblue ;
cursor: not-allowed;
}